<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426225023888-1p3ujgtrqkan89sc7api17qglcfv4r4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426225023888-1p3ujgtrqkan89sc7api17qglcfv4r4a</string>
	<key>API_KEY</key>
	<string>AIzaSyCzkLdK7MJ_APzoSTD4TeFWEK0loy5a0X8</string>
	<key>GCM_SENDER_ID</key>
	<string>426225023888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuthentication</string>
	<key>PROJECT_ID</key>
	<string>flutter-authentication-2a819</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-authentication-2a819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426225023888:ios:e7ee508297880cea011115</string>
</dict>
</plist>